# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
127.0.0.1   {{ ansible_hostname }}
127.0.0.1   {{ inventory_hostname }}
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{# {% for item in play_hosts %} #}
{# {% set short_name = item.split('.') %} #} 
{# {{ hostvars[item]['ansible_hostname'] }}  {{ item }} {{ short_name[0] }} #}
{# {% endfor %} #}

