<html>
    <head>
        <title>Ansible-Managed Node</title>
    </head>
    <body>
        <h1>
            Ansible-Managed Node
        </h1>
        <p>This is an Ansible-managed node called {{ ansible_hostname }} at {{ansible_default_ipv4.address }}.</p>
        <p>This server is {{ server_age }}.</p>
    </body>
</html>